{% extends "base.html" %}
{% load staticfiles %}

 {% block content %}
<h2 style="color:white">Post info about book you want to sell</h2>
<div class='row'>
<div class= 'col-sm-6 col-sm-offset-3'>

<h1>{{title}}</h1>

<form id="postinfo"> {% csrf_token %}
	 <div class="form-group">
    <label for="exampleInputName1">Full Name</label>
    <input type="text" class="form-control" id="exampleInputName1" placeholder="Full Name">
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
  </div>
    <div class="form-group">
    <label for="exampleInputMobile1">Mobile Number</label>
    <input type="number" class="form-control" id="exampleInputMobile1" placeholder="Mobile Number">
  </div>
 <div class="form-group">
    <label for="exampleInputName1">Info about book</label>
    <textarea class="form-control" rows="3" placeholder="Info about book" id="exampleInputInfo1"></textarea>
<div class="form-group">
    <label for="exampleInputCost1">Cost of the book</label>
    <input type="number" class="form-control" id="exampleInputCost1" placeholder="Cost of the book">
  </div>
 

  <button type="submit" class="btn btn-default">Submit</button>
</form>

</div>
</div>


</body>
<script src="{%static 'javascript/jquery.min.js'%}"> </script>
<script type="text/javascript">
  $(document).on('submit','#postinfo',function(e){
    e.preventDefault();

    $.ajax({
      type:'POST',
      url: '/information/create/',
      data: {
        name:$('#exampleInputName1').val(),
        email:$('#exampleInputEmail1').val(),
        mobile:$('#exampleInputMobile1').val(),
        info:$('#exampleInputInfo1').val(),
        cost:$('#exampleInputCost1').val(),
        csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),

      },
      success:function(){
        alert("Your request has been acknowledged and it is being reviewed");

      }



    });

  });
</script>

{% endblock %}




